.questionBox {
  background: #6b63f6;
  box-shadow: 0px 6px 23px rgba(102, 96, 173, 0.14);
  border-radius: 30px;
  padding: 40rem 0;

  h2 {
    color: #fff;
    font-weight: 400;
    font-size: 16rem;
    text-align: center;
  }
  .swiper-slide {
    font-size: 18rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 54rem 0;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 36rem;
    height: 36rem;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50px;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 14rem;
    color: #232323;
    font-weight: bold;
  }

  .swiper-pagination {
    color: #fff;
    span {
      color: #fff;
    }
  }
}
